{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'car/css/car_detail.css' %}">
{% endblock 'head' %}

{% block 'body' %}

<div class="car-card">
    <h2> Detail Car</h2>
    {% if object.photo %}
        <img src="{{ object.photo.url }}" alt="{{ object.model }} - {{ object.brand }}">
    {% else %}
        <img src="/static/images/no-image.WEBP" alt="image invalid">
    {% endif %}
    <h2>{{ object.brand }} {{ object.model }}</h2>
    <p><strong> Year of manufacture: </strong> {{ object.factory_year }}</p>
    <p><strong> Model year: </strong> {{ object.model_year }}</p>
    <p><strong> Plate: </strong> {{ object.plate }}</p>
    <p><strong> Value: </strong> R$ {{ object.value }}</p>
    {% if object.bio %}
        <p><strong> Bio: </strong> {{ object.bio }} </p>
    {% endif %}
    
</div>

<div class="buttons-container">
    {% if not request.user.is_authenticated %}
            <a href="{% url 'car:cars_list' %}" class="btn btn-home"><i class="fa-solid fa-house" style="color: #cccccc;"></i> Home</a>
        {% else %}
            <a href="{% url 'car:car_update' pk=object.pk %}" class="btn btn-edit"> <i class="fa-solid fa-pen" style="color: #cccccc;"></i> Edit</a>
            <a href="{% url 'car:car_delete' pk=object.pk %}" class="btn btn-delete"> <i class="fa-solid fa-trash" style="color: #cccccc;"></i> Delete</a>
    {% endif %}

</div>


{% include "partials/footer.html" %}
{% endblock 'body' %}