{% extends "base.html" %}
{% load static %}



{% block 'body' %}

    <link rel="stylesheet" href="{% static 'car/css/newcar.css' %}">

    {% include "partials/navbar.html" %}

    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <table>
            {{ form.as_table }}
        </table>
        
        <input type="submit" value="Register" class="btn">

    </form>

{% endblock 'body' %}