body {
    font-family: sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0096c7;
    color: #fff;
    text-align: center;
}